<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Potluck</h1>
      <p>
        This potluck is scheduled to run from
        <%= @potluck.start_time.strftime("%A %b %d, %Y | %r") %>
        until
        <%= @potluck.end_time.strftime("%A %b %d, %Y | %r") %>.
      </p>
      <div id="potlucks-container">
        <video id="localVideo"></video>
        <div id="remoteVideos"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    AdapterJS.webRTCReady(function(isUsingPlugin) {
      console.log('we are live');
      console.log(isUsingPlugin);

      var webrtc = new SimpleWebRTC({
        localVideoEl: 'localVideo',
        remoteVideosEl: 'remoteVideos',
        autoRequestMedia: true
      });

      webrtc.on('readyToCall', function () {
        webrtc.joinRoom('<%= @potluck.token %>');
      });
    });
  </script>
<% end %>
